main {
  width: 1240px;
  margin: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form,
h1 {
  text-align: center;
}

form {
  border: 1px solid salmon;
}

input {
  border: 1px solid blue;
  margin: 20px;
}

.cgv-block {
  width: 245px;
  /* text-align: center; */
}

.newsletter {
  display: flex;
}
