/* Page Offre */

.offer-container {
  background-color: #ebedee;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.offer-picture-container {
  display: flex;
  justify-content: center;
}

.offer-picture {
  height: 600px;
  max-width: 600px;
  object-fit: cover;
}

.offer-product {
  background-color: #fff;
  height: 600px;
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.offer-product h3 {
  font-size: 30px;
}

.offer-product-description {
  display: flex;
  text-transform: uppercase;
}

.offer-product-description-left {
  margin-right: 20px;
  color: #c6c6c6;
}
