/* Main rules */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.background {
  height: 490px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.background2 {
  position: absolute;
  top: 520px;
  left: 0;
}

.accroche-container {
  width: 410px;
  height: 250px;
  background-color: #fff;
  position: absolute;
  padding: 20px;
  top: 160px;
  left: 310px;
}

.accroche-container h1 {
  font-weight: lighter;
  font-size: 34px;
}

/* Conteneur des articles vinted */

.products-container {
  display: flex;
  flex-wrap: wrap;
}

.products-line-container {
  display: flex;
  margin: 10px;
}

.products-line-container img {
  height: 350px;
  width: 220px;
  object-fit: cover;
}

.products-line-container h2 {
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
}

.products-line-container p {
  font-size: 10px;
  margin: 0;
  color: #c6c6c6;
}
