button {
  background-color: #fff;
  color: #2ab1ba;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
}

button:hover {
  cursor: pointer;
}

.blue-btn {
  background-color: #2ab1ba;
  color: #fff;
  border-radius: 5px;
}

.offer-container-btn {
  width: 300px;
  height: 35px;
  margin-top: 100px;
}

.white-link {
  color: #fff;
}

.big-button {
  height: 45px;
  width: 185px;
  background-color: #2baeb7;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 0 14px;
  margin-top: 32px;
}

.big-button:hover {
  cursor: pointer;
}

.logout {
  background-color: #c2175b;
  color: #fff;
}
