button {
  background-color: #fff;
  color: #2ab1ba;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
}

.link {
  color: #2ab1ba;
  text-decoration: none;
}

.blue-btn {
  background-color: #2ab1ba;
  color: #fff;
}

.offer-container-btn {
  width: 300px;
  height: 35px;
  margin-top: 100px;
}

.white-link {
  color: #fff;
}

.button {
  padding: 10px;
}
