/* Header */
.logo {
  height: 50px;
  width: 120px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid blue;
}

input {
  width: 300px;
  padding: 8px;
}

header nav {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.header-items {
  border: 1px solid #2ab1ba;
  margin: 0 20px;
}
