main {
  width: 1240px;
  margin: auto;
  text-align: center;
}

input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  margin: 20px;
}

.forgot-password {
  font-size: 12px;
  color: #2ab1ba;
  text-decoration: underline;
}
