main {
  width: 1240px;
  margin: auto;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  margin: 20px;
}

::placeholder {
  color: #cecece;
  font-size: 16px;
}

.checkbox {
  height: 25px;
}

.terms-container {
  display: flex;
  font-size: 16px;
  justify-content: space-evenly;
  align-items: center;
  transform: scale(1.1);
  padding: 0 15px;
}

.terms-container p {
  width: 250px;
  font-size: 12px;
  color: #99999999;
  margin-top: 50px;
  text-align: center;
}

.already-account {
  font-size: 12px;
  color: #2ab1ba;
  text-decoration: underline;
}
